body {
    text-align: center;
    margin-top: 80px;
}

#box{
    display:  flex;
    
;}
.ball {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: relative;
}

/* Animation keyframes (but paused by default) */
@keyframes bounce {
    0%   { top: 0px; }
    50%  { top: 200px; }
    100% { top: 0px; }
}

.bouncing {
    animation: bounce 0.7s infinite ease-in-out;
    animation-play-state: running;
}
